@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #07182f, #020617);
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* DARK MODE */
.dark body {
  background: #020617;
  color: white;
}

/* LIGHT MODE */
body {
  transition: all 0.3s ease;
}

/* HIDE SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* BUBBLE BORDER ANIMATION */
@keyframes bubbleMove {
  0% {
    border-radius: 55% 45% 60% 40%;
    transform: scale(1);
  }

  25% {
    border-radius: 40% 60% 45% 55%;
    transform: scale(1.02);
  }

  50% {
    border-radius: 60% 40% 55% 45%;
    transform: scale(0.98);
  }

  75% {
    border-radius: 45% 55% 40% 60%;
    transform: scale(1.03);
  }

  100% {
    border-radius: 55% 45% 60% 40%;
    transform: scale(1);
  }
}

.animate-spin-slow {
  animation: bubbleMove 6s ease-in-out infinite;
}